.nav {
  width: 100%;
  padding-left: 4rem;
  ul {
    margin: 0;
    padding: 0;
  }
  .navItem {
    transition: height .2s;
    height:1.2rem;
    list-style: none;
    display: block;
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: blue;
      margin-left: 0.15rem;
    }

    &.selected {
      a {
        color: red;
      }
    }

    &.hidden {
      height: 0;
      overflow: hidden;
    }

    &.level_0 {
      margin-left: 0;
    }
    &.level_1 {
      margin-left: 0.5rem;
    }
    &.level_2 {
      margin-left: 1rem;
    }
  }
}
